body {
  font-size: 12px;
  min-width: 970px;
  font-family: 'Lucida Grande', sans-serif;
}

h1 {
  margin-bottom: 20px;
}

h6 {
  margin: 10px 0 0 0;
}

p {
  margin: 10px 10px 0 0;
}

h6 + p {
  margin-top: 5px;
}

ul#movies {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

li.movie {
  height: 69px;
  width: 275px;
  margin: 4px;
  padding: 5px;
  background: #f3f3f3;
  box-shadow: #ddd 0 2px 4px;
  box-sizing: content-box;
  cursor: pointer;
  position: relative;
}

.movie img {
  float: left;
  height: 69px;
  width: auto;
  opacity: 0.7;
}

.title {
  margin-left: 54px;
  height: 100%;
  position: relative;
}

.title h4 {
  margin: 5px 0 0 0;
}

.title p {
  margin: 5px 0 0 0;
  color: #777;
}

li.movie:hover {
  background: #eee;
}

li.movie:hover img, li.movie.expanded img {
  opacity: 1;
}

li.movie:active, li.movie:focus, li.movie.expanded {
  box-shadow: #ddd 0 2px 4px inset;
}

li.movie.expanded {
  height: auto;
  background: #e0eeff;
}

.detail {
  display: none;
  z-index: 100;
  position: absolute;
  width: 285px;
  height: 255px;
  left: 293px;
  top: 0;
  background: #e0eeff;
  box-shadow: white 0 2px 4px, #ddd 0 2px 4px inset;
}

.expanded .detail {
  display: block;
}

.connector {
  position: absolute;
  background: #e0eeff;
  height: 79px;
  width: 10px;
  left: -10px;
  box-shadow: #ddd 0 2px 4px inset;
}

.connector-inner {
  position: absolute;
  height: 75px;
  top: 4px;
  width: 14px;
  left: -2px;
  background: #e0eeff;
}

.detail-text {
  padding: 15px;
}

.detail-text p {
  margin: 0;
}
