body {
  font-size: 12px;
  min-width: 970px;
}

h1 {
  margin-bottom: 20px;
}

table#mdb-table {
  background: white;
  width: 100%;
}

thead {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

@media (max-width: 1023px) {
  table#mdb-table {
    margin: 0 !important;
  }

  thead {
    position: static;
  }
}

th {
  background: #ccc;
  height: 40px;
  border: none !important;
  vertical-align: middle !important;
}

th.sortable:hover {
  cursor: pointer;
  background: #bbb;
}

th.sortable label:hover {
  cursor: pointer;
}

th:focus, th:active {
  color: #666;
  outline: none;
}

th.list-info {
  vertical-align: top !important;
  background: #333;
  height: auto;
}

th.list-info h4 {
  margin: 5px 0;
  color: white;
}

th.list-info p {
  margin: 5px 0;
  font-weight: normal;
  color: #ccc;
}

th.list-info a {
  color: #afd9ee;
}

th.list-info a:hover {
  color: #85c5e5;
}

th.list-info#back a.btn {
  background-color: #505050;
  color: #aaa;
}

th.list-info#back a.btn:hover {
  background-color: #555;
}

#mdb-table form {
  display: inline;
}

#mdb-table label {
  margin-right: 5px;
  margin-bottom: 0;
}

#mdb-table input {
  font-weight: normal;
  width: 130px !important;
}

#mdb-table select {
  font-weight: normal;
}

#mdb-table .input-group-addon {
  padding: 6px;
}

#mdb-table tr td:first-child, #mdb-table tr th:first-child {
  padding-left: 10px;
}

#mdb-table tr td:last-child, #mdb-table tr th:last-child {
  padding-right: 10px;
}

h6 {
  margin: 10px 0 0 0;
}

h4 {
  margin: 0;
}

p {
  margin: 10px 10px 0 0;
}

h6 + p {
  margin-top: 5px;
}

#mdb-table select.form-control + .input-group-addon {
  background: none;
  border-color: transparent;
}

a#clear_genre {
  font-size: 14px;
}

.cover {
  height: 19px;
  width: 92px;
  overflow: hidden;
  position: relative;
}

.cover img {
  position: absolute;
  left: 0;
  top: 0;
  clip: rect(0, 92px, 19px, 0);
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
}

.detail {
  display: none;
  max-width: 50em;
}

.expanded .detail {
  display: block;
}

tbody {
  z-index: 1;
}

tbody tr:first-child td {
  border-top: none !important;
}

tbody tr:hover td {
  cursor: pointer;
}

tbody tr:not(.expanded):hover td {
  background: #eee !important;
}

tbody tr.expanded td {
  background: #d9edf7 !important;
  border-color: #428bca;
  border-width: 1px !important;
  color: black;
}

.expanded .cover {
  height: 138px;
}

.expanded .cover img {
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
  clip: rect(0, 92px, 138px, 0);
}
