body {
  font-size: 14px;
  min-width: 970px;
  font-family: 'Lucida Grande', sans-serif;
  background: #ddd;
}

#details_container {
  position: fixed;
  background: #444;
  right: 0;
  width: 300px;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.2) 4px 0px 4px inset;
  padding: 20px;
}

#details_container::after {
  content: "";
  background: url(/noise.png);
  opacity: 0.7;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

#filters {
  position: fixed;
  background: #444;
  left: 0;
  width: 300px;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.2) -4px 0px 4px inset;
  padding: 20px;
}

.sidebar::after {
  content: "";
  background: url(/noise.png);
  opacity: 0.7;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

#filters label {
  color: white;
}

#filters .input-group-addon {
  padding: 0;
}

#filters .input-group-addon a {
  display: block;
  padding: 6px 12px;
  color: #c6c6c6;
  text-shadow: rgba(0, 0, 0, 0.35) -1px -1px 0;
}

#filters .input-group-addon a:hover {
  color: #aaa;
}

#filters select.form-control + .input-group-addon {
  background: none;
  border-color: transparent;
}

.form-control:focus {
  box-shadow: none;
  border-color: #ccc;
}

.sidebar hr {
  border-top-color: #666;
}

.sidebar h4 {
  color: white;
  margin: 0;
  font-size: 20px;
  font-weight: bold;
}

.sidebar h6 {
  color: white;
  font-weight: bold;
  font-size: 16px;
  margin: 0 0 3px 0;
}

.sidebar h6#year {
  margin: 5px 0 15px 0;
}

.sidebar p {
  color: #ddd;
  margin: 0 0 15px 0;
}

#movies_container {
  padding-left: 300px;
  padding-right: 300px;
  width: 100%;
  position: absolute;
}

ul#movies {
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: hidden;
}

ul#movies li {
  float: left;
  margin: 0;
  padding: 0;
  width: 154px;
  height: 231px;
}

ul#movies:not(.ignore-selected) li.selected {
  opacity: 0.35;
  -webkit-filter: saturate(45%);
}

ul#movies li img {
  display: block;
  cursor: pointer;
  width: 154px;
  height: 231px;
}
